@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
*{font-family: 'Jua', sans-serif;}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    z-index: 1000;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #6c757d !important;
}
i {color: black;}
i:hover {color: #fce233 !important; transition: all 0.25s;}

@media (min-width: 992px) {
    .container {
        width: 940px;
        top: 300px;
    }
}
.container-board {}
.container-reply {padding: 0 50px;}
.container {
    margin-top:150px;
    border-radius: 25px;
    padding: 50px 50px;
}
.info-img {
    width: 65px;
    height: 65px;
    background-color: blanchedalmond;
}
.content {
    width: 100%;
    border: none;
    background-color: #f8f9fa;
    padding : 50px;
    border-radius: 25px;
}
.content:hover {
    transition : 0.5s;
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
}
.content_field {
    width: 100%;
    background-color: #f8f9fa;
    padding : 10px;
    border-radius: 10px;
    border: none;
}
.divide-line {
    margin: 50px 0px;
}
.comment-info-img {
    width: 50px;
    height: 50px;
    background-color: blanchedalmond;
}
.input-form {
    margin-top:150px;
}
.challenge-btn-box {
    position: relative;
}
.timer {
    width: 100px;
}
.reply-badge {
    cursor: none;
    border: none;
    background-color: #fff;
}
.base-border {
    border : solid 1px grey;
    padding: 20px 20px;
    margin-bottom: 40px;
    border-radius: 25px;
}
.base-box {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.17);
}

.final {
    border-radius: 10px;
    border: 1px solid #d3d3d3;
    margin-bottom: 12px;
}