<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
    <script>

        let timerInterval;
        let userId;
        let boardId;
        function startTimer(endTime, display) {
            timerInterval = setInterval(function () {
                var now = new Date().getTime();
                var endTime_temp = new Date(endTime).getTime();
                var timeRemaining = Math.max(0, endTime_temp - now);

                var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
                var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);

                hours = hours < 10 ? "0" + hours : hours;
                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = hours + ":" + minutes + ":" + seconds;

            }, 1000);
        }
    function updateState(boardId,state){
        let url = '/challenges/board/states?id='+boardId+'&state='+state; // 엔드포인트 URL


        fetch(url, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => {
                if (response.ok) {
                    // 요청이 성공적으로 완료됨
                    window.location.href="/challenges";
                } else {
                    throw new Error('PUT 요청이 실패하였습니다.');
                }
            })
            .then(responseText => {
                console.log(responseText);
            })
            .catch(error => {
                console.error(error);
            });
    }
    function getData(){
    fetch('/api/challenges', {
        method: 'GET',
        headers: {
            'Content-Type': 'application/json',
        },
    })
        .then(response => response.json())
        .then(data => {
            for (let i = data.length-1; i >= 0; i--) {
                console.log(data[i]);
                // 데이터에서 필요한 정보 추출
                let boardId = data[i].board_id;
                let boardContent = data[i].content;
                let endTime = data[i].endTime;
                let title = data[i].title;
                userId = data[i].user.id;
                let userName = data[i].user.username;
                let userImage = data[i].user.image;
                let state = data[i].state;
                let replyCount = data[i].replyList.length;


                // 게시글 템플릿 생성
                let temp_html = `<div class="row">
                    <div class="col-md-12 board">
                        <div class="info-box">
                            <img src="${userImage}" alt="" class="info-img rounded-circle border">
                            <span class="info-name" id="userName-${boardId}">${userName}</span>
                        </div>
                    </div>
                </div>
                <div class="row mt-4">
                    <div class="col-md-12">
                        <h3 class="title fw-bold h3 mb-3">${title}</h3>
                        <div class="written-content content" style="width: 100%; height: 400px;" id="content-${boardId}">
                            ${boardContent}
                        </div>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12 d-flex justify-content-between">
                        <div class="align-items-center d-flex">
                            <h3 class="timer d-inline" id="timer-${boardId}">00:00:00</h3>
                            <div class="challenge-btn-box  mx-3" id="challenge-btn-box-${boardId}"style="display: none">
                                <span class="d-none state" id="state-${boardId}"></span>
                                <button onclick="success(this.id)" class="btn btn-primary" id="success-btn-${boardId}">성공</button>
                                <button onclick="fail(this.id)" class="btn btn-outline-primary" id="fail-btn-${boardId}">실패</button>
                            </div>
                        </div>
                        <div class="align-items-center board-btn-box" id="board-btn-box-${boardId}" style="display: none">
                            <button onclick="updatePage(this.id)" class="btn btn-primary" id="update-btn-${boardId}" value="">글 수정</button>
                            <button onclick="deleteBoard(this.id)" class="btn btn-primary d-block" id="delete-btn-${boardId}" value="글 삭제">글 삭제</button>
                        </div>
                    </div>
                </div>
                <hr class="hr divide-line">
                <div class="row">
                    <div class="col-md-12">
                        <div class="comment-box">
                            <h3 class="d-inline">댓글 : </h3>
                            <h3 class="d-inline">${replyCount}</h3>
                        </div>
                        <div class="comment-board mt-3">
                            <textarea class="content form-control col-sm-5" id="comment-content-${boardId}" rows="5"></textarea>
                            <button type="button" onclick="createComments(this.id)" class="btn btn-primary mt-2" id="comment-${boardId}" value="">등록하기</button>
                        </div>
                    </div>
                    <div class="comment-base-box" id="comment-base-box-${boardId}"></div>
                </div>`;

                // 댓글 템플릿 생성
                let comment_html = '';
                for (let j = 0; j < data[i].replyList.length; j++) {
                    let replyId = data[i].replyList[j].id;
                    let replyUserName = data[i].replyList[j].user.username;
                    let replyUserImage = data[i].replyList[j].user.image;
                    let replyContent = data[i].replyList[j].content;

                    let temp_html2 = `<div class="col-md-12">
                        <div class="comment-info-box mt-4 d-flex justify-content-between">
                            <div class="d-flex ">
                                <div class="info-box d-flex flex-column align-items-center">
                                    <img src="${replyUserImage}" alt="" class="comment-info-img rounded-circle border">
                                    <span class="info-name" id="comment-userName-${replyId}">${replyUserName}</span>
                                </div>
                                <div class="ms-4 comment-written-content">
                                    ${replyContent}
                                </div>
                            </div>
                            <button onclick="deleteComments(this.id)" class="btn btn-danger" style="width:80px; height:40px;"id="comment-${replyId}">삭제</button>
                        </div>
                    </div>`;
                    comment_html += temp_html2;
                }

                // 게시글과 댓글을 포함하는 박스 생성 및 추가
                let box_html = `<div class="base-box">${temp_html}${comment_html}</div>`;
                $('.container').append(box_html);
                let display = document.getElementById("timer-" + boardId);
                startTimer(endTime,display);
                console.log(state)
                if (state === 1) {
                    success(boardId.toString());
                } else if (state === 2) {
                    fail(boardId.toString());
                }


                let timeBtnBox = document.getElementById('challenge-btn-box-'+boardId);
                let boardBtnBox = document.getElementById('board-btn-box-'+boardId);
                try{
                    console.log(loggedUesrname+" : 로그인된 아이디")
                    console.log(userName+" : 게시물작성자 아이디")
                    if(loggedUesrname !== 'undefined'){
                        if(loggedUesrname === userName){
                            timeBtnBox.style.display = "inline";
                            boardBtnBox.style.display = "flex";
                        }
                    }
                } catch (e){

                }

            }

        })
        .catch(error => {
            // 오류 처리 로직을 작성합니다.
            console.error(error);
        });

}

    function getCookie(name) {
        const value = "; " + document.cookie;
        const parts = value.split("; " + name + "=");
        if (parts.length === 2) {
            return parts.pop().split(";").shift();
        }
    }

    // 쿠키의 이름이 "Authorization"인지 확인하는 함수
    function checkAuthorizationCookie() {
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();

            // "Authorization" 쿠키가 존재하는 경우 true 반환
            if (cookie.startsWith("Authorization")) {
                return true;
            }
        }

        // "Authorization" 쿠키가 존재하지 않는 경우 false 반환
        return false;
    }

    // 페이지 로드 시 실행되는 함수
    window.onload = function() {
    getData();

        var loginBox = document.getElementById("is-login-box");
        var notLoginBox = document.getElementById("not-login-box");

        // "Authorization" 쿠키가 존재하는 경우 로그아웃 버튼을 표시
        if (checkAuthorizationCookie()) {
            loginBox.style.display = "block";
            notLoginBox.style.display = "none";

        }
        //유저 토큰
        let cookie = getCookie("Authorization")
        let token = cookie.substring(9);


        // JWT 토큰에서 사용자 정보 디코딩
        const userInfo = decodeUserInfoFromToken(token);
        loggedUesrname = userInfo.sub; //로그인된 유저 아이디

    };
    // JWT 토큰에서 사용자 정보를 디코딩하는 함수
    function decodeUserInfoFromToken(token) {
        const base64Url = token.split('.')[1];
        const base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
        const decodedData = JSON.parse(decodeURIComponent(atob(base64)));
        return decodedData;
    }

    function updatePage(postId){
        let extracted = postId.substring(postId.indexOf("-") + 5);
        let boardUserName = document.getElementById('userName-'+extracted).textContent;

        if(loggedUesrname === boardUserName){
            window.location.href = "/challenges/"+extracted;
        }else {
            alert("작성한 게시글만 수정할 수 있습니다.")
        }
    }
    function deleteBoard(postId) {

        let extracted = postId.substring(postId.indexOf("-") + 5);
        let boardUserName = document.getElementById('userName-'+extracted).textContent;

        console.log(boardUserName)
        console.log(loggedUesrname)
        if(!loggedUesrname){
            alert('로그인을 해주세요')
        }
        if(loggedUesrname !== boardUserName){
            alert('작성자만 삭제 가능합니다.');
        }else{
            const confirmDelete = confirm('게시글을을 삭제하시겠습니까?');
            if (confirmDelete) {
                let url = '/challenges/'+extracted;
                fetch(url, {
                    method: 'DELETE'
                })
                    .then(function(response) {
                        if (response.ok) {
                            console.log('게시글이 성공적으로 삭제되었습니다.');
                            window.location.href='/challenges';
                        } else {
                            console.log('게시글 삭제에 실패했습니다.');
                        }
                    })
                    .catch(function(error) {
                        console.log('게시글 삭제 중 오류가 발생했습니다.', error);
                    });
            }
        }


    }

        // 댓글 삭제
        function deleteComments(commentsId) {
            let extracted = commentsId.substring(commentsId.indexOf("-") + 1);
            console.log(extracted + " : 변환된 Id");

            let commentUserName = document.getElementById('comment-userName-'+extracted).textContent;

            if(!loggedUesrname){
                alert('로그인을 해주세요')
            }
            if(loggedUesrname !== commentUserName){
                alert('작성자만 삭제 가능합니다.');
            }else{
            // API 엔드포인트 설정
            let url = '/challenges/reply/' + extracted
            console.log(url)
            // API 요청 보내기
            fetch(url, {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(function(response) {
                    // 응답 처리
                    if (response.ok) {
                        // 성공적인 응답 처리
                        console.log('댓글이 성공적으로 삭제되었습니다.');
                        window.location.href = "/challenges"
                        // 삭제한 댓글을 화면에서 제거하는 로직을 작성해주세요.
                    } else {
                        // 오류 응답 처리
                        console.log('댓글 삭제에 실패했습니다.');
                    }
                })
                .catch(function(error) {
                    // 에러 처리
                    console.log('댓글 삭제 중 오류가 발생했습니다.', error);
                });
            }
        }

    function createComments(commentsId) {

        let extracted = commentsId.substring(commentsId.indexOf("-") + 1);
        console.log(extracted +" : 변환된 Id")
        // textarea 태그의 내용 가져오기
        let content = document.getElementById('comment-content-'+extracted).value;

        // API 요청을 위한 데이터 준비
        let data = {
            content: content
        };

        // API 엔드포인트 설정
        let url = '/challenges/reply/'+extracted;

        // API 요청 보내기
        fetch(url, {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then(function(response) {
                // 응답 처리
                if (response.ok) {
                    // 성공적인 응답 처리
                    console.log('댓글이 성공적으로 작성되었습니다.');
                    window.location.href="/challenges";
                } else {
                    // 오류 응답 처리
                    console.log('댓글 작성에 실패했습니다.');
                }
            })
            .catch(function(error) {
                // 에러 처리
                console.log('댓글 작성 중 오류가 발생했습니다.', error);
            });
    }

    function success(postId){
        let extracted;
        if(postId.includes("-")){
            extracted = postId.substring(postId.indexOf("-") + 5);
        }else {
            extracted = postId;
        }

        console.log(extracted);
        // content + postId
        let content = document.getElementById("content-"+extracted);
        let success_btn = document.getElementById("success-btn-"+extracted)
        let fail_btn = document.getElementById("fail-btn-"+extracted)
        let update_btn = document.getElementById("update-btn-"+extracted)

            content.style.border = "3px dotted green";

            success_btn.disabled = true
            fail_btn.disabled = true
            update_btn.disabled = true
            stopTimer();
            updateState(extracted,1)
    }
    function fail(postId){
        let extracted;
        if(postId.includes("-")){
            extracted = postId.substring(postId.indexOf("-") + 5);
        }else {
            extracted = postId;
        }
        // content + postId
        let content = document.getElementById("content-"+extracted);
        let success_btn = document.getElementById("success-btn-"+extracted)
        let fail_btn = document.getElementById("fail-btn-"+extracted)
        let update_btn = document.getElementById("update-btn-"+extracted)
        let timer = document.getElementById("timer-" + extracted);

            content.style.border = "3px dotted red";
            success_btn.disabled = true
            fail_btn.disabled = true
            update_btn.disabled = true
            timer.content = '00:00:00';

            stopTimer();
            updateState(extracted,2)
    }
    function logout() {
        document.cookie = "Authorization=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
        window.location.href="/challenges";
    }
    function stopTimer() {
        clearInterval(timerInterval);
    }

</script>
    <title>메인 화면</title>
</head>
<body>
    <header class="d-flex justify-content-between align-items-center mx-5 mx-auto border border-bottom-1">
        <h1 class="h1"><a href="/challenges">이용해조</a></h1>
        <div>
            <div class="is-login-box" id="is-login-box" style="display: none;">
                <a href="/new-challenge" class="btn btn-primary" >글 작성</a>
                <a href="/users" class="btn btn-primary" >마이페이지</a>
                <button onclick="logout()" class="btn btn-outline-primary" >로그아웃</button>
            </div>
            <div class="not-login-box" id="not-login-box">
            <a href="/users/login" class="btn btn-primary">로그인</a>
            <a href="/users/new-user" class="btn btn-outline-primary">회원가입</a>
            </div>
        </div>
    </header>
    <div class="container base-box">
    </div>
</body>
</html>