<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet" />
<link href="/resources/static/css/style.css" rel="stylesheet">
<script>
  function updateBoard(){}
</script>
    <title>마이 페이지 화면</title>
</head>
<body>
    <header class="d-flex justify-content-between align-items-center mx-5 mx-auto border border-bottom-1">
      <h1 class="h1"><a href="/challenges">이용해조</a></h1>
        <div>
          <a href="/new-challenge" class="btn btn-primary">글 작성(임시)</a>
          <a href="/challenges/login" class="btn btn-primary">로그인</a>
          <a href="/challenges/new-user" class="btn btn-outline-primary">회원가입</a>
      </div>
    </header>
<!--    <div class="container">-->
<!--      &lt;!&ndash; PUT 요청으로 어떻게 보낼지.. 물어보기 &ndash;&gt;-->
<!--        <form class="input-form" method="post" action="/users/{userid}">-->
<!--            <h2>정보 수정</h2>-->
<!--          <div class="form-group mb-3">-->
<!--            <label for="username">사용자명:</label>-->
<!--            <input type="text" class="form-control" id="username" name="username">-->
<!--          </div>-->
<!--          <div class="form-group mb-3">-->
<!--            <label for="password">비밀번호:</label>-->
<!--            <input type="password" class="form-control" id="password" name="password">-->
<!--          </div>-->
<!--          <div class="form-group mb-3">-->
<!--            <label for="profile">프로필:</label>-->
<!--            <input type="text" class="form-control" id="profile" name="profile">-->
<!--          </div>-->
<!--          <button type="submit" class="btn btn-primary">수정완료</button>-->
<!--          <a href="/challenges" class="btn btn-outline-primary">메인으로</a>-->
<!--        </form>-->
<!--      </div>-->
</body>
</html>