<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet">
<script>
    window.onload = function() {
        getUserData();

        var loginBox = document.getElementById("is-login-box");
        var notLoginBox = document.getElementById("not-login-box");

        // "Authorization" 쿠키가 존재하는 경우 로그아웃 버튼을 표시
        if (checkAuthorizationCookie()) {
            loginBox.style.display = "block";
            notLoginBox.style.display = "none";

        }

    }

    function checkAuthorizationCookie() {
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();

            // "Authorization" 쿠키가 존재하는 경우 true 반환
            if (cookie.startsWith("Authorization")) {
                return true;
            }
        }

        // "Authorization" 쿠키가 존재하지 않는 경우 false 반환
        return false;
    }
    function getUserData(){
            fetch('/users/update', {
                method: 'GET', // GET, POST, PUT 등 HTTP 메서드 선택
                headers: {
                    'Content-Type': 'application/json', // 서버에서 요구하는 Content-Type으로 설정
                    // 필요한 경우 다른 헤더를 추가로 설정할 수 있습니다.
                },
                // 필요한 경우 요청에 본문 데이터를 추가할 수 있습니다.
                // body: JSON.stringify({ key: 'value' }),
            })
                .then(response => {
                    if (response.status === 404) {
                        alert('요청이 실패했습니다. 페이지를 찾을 수 없습니다.');
                    }
                    return response.json(); // JSON 형태의 응답 데이터 파싱
                })
                .then(data => {
                    console.log(data);
                    $('.container').empty()
                    let username = data.username;
                    let password = "*****";
                    let introduction = data.introduction;
                    let image = data.image;

                    // 게시글 템플릿 생성
                    let temp_html = `<h2 class="board">정보 수정</h2>
          <div class="form-group mb-3">
            <label for="username" class="d-block">사용자명:</label>
              <span id="username" class="fw-bold" >${username}</span>
          </div>
          <div class="form-group mb-3">
            <label for="checkpassword">현재 비밀번호:</label>
            <input type="password" class="form-control" id="checkpassword" name="checkpassword" placeholder="현재 비밀번호를 입력해주세요.">
          </div>
          <div class="form-group mb-3">
            <label for="updatepassword">수정 비밀번호:</label>
            <input type="password" class="form-control" id="updatepassword" name="updatepassword" placeholder="수정할 비밀번호를 입력해주세요.">
          </div>
          <div class="form-group mb-3">
            <label for="introduction">자기소개:</label>
            <input type="text" class="form-control" id="introduction" name="introduction" value="${introduction}">
          </div>
            <div class="form-group mb-3">
                <label for="image">이미지 URL:</label>
                <input type="text" class="form-control" id="image" name="image" value="${image}">
            </div>
          <button onclick="updateUser(); window.location.href='/challenges'" class="btn btn-primary">수정완료</button>
          <a href="/challenges" class="btn btn-outline-primary">메인으로</a>`
                    $('.container').append(temp_html)
                })
                .catch(error => {
                    // 오류 처리 로직을 작성합니다.
                    console.error(error);
                });
    }
    function updateUser() {

        let username = document.getElementById('username').value;
        let checkpassword = document.getElementById('checkpassword').value;
        let updatepassword = document.getElementById('updatepassword').value;
        let introduction = document.getElementById('introduction').value;
        let image = document.getElementById('image').value;

        let updatedData = {
            username: username,
            checkpassword : checkpassword,
            updatepassword: updatepassword,
            introduction: introduction,
            image: image
        };
        let url = '/users/update';

        fetch(url, {
            method: 'Post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(updatedData)
        })
            .then(function(response) {
                if (response.ok) {
                    console.log('유저 정보가 성공적으로 수정되었습니다.');
                } else {
                    console.log('유저 정보가 수정에 실패했습니다.');
                }
            })
            .catch(function(error) {
                console.log('유저 정보가 수정 중 오류가 발생했습니다.', error);
            });
    }
</script>
    <title>마이 페이지 화면</title>
</head>
<body>
    <header class="d-flex justify-content-between align-items-center mx-5 mx-auto border border-bottom-1">
      <h1 class="h1"><a href="/challenges">이용해조</a></h1>
        <div>
            <div class="is-login-box d-none" id="is-login-box">
                <a href="/new-challenge" class="btn btn-primary" >글 작성(임시)</a>
                <button onclick="logout()" class="btn btn-outline-primary" >로그아웃</button>
            </div>
            <div class="not-login-box" id="not-login-box">
                <a href="/users/login" class="btn btn-primary">로그인</a>
                <a href="/users/new-user" class="btn btn-outline-primary">회원가입</a>
            </div>
        </div>
    </header>
    <div class="container">
<!--            <h2 class="board">정보 수정</h2>-->
<!--          <div class="form-group mb-3">-->
<!--            <label for="username" class="d-block">사용자명:</label>-->
<!--              <span id="username" class="fw-bold" >유저1</span>-->
<!--          </div>-->
<!--          <div class="form-group mb-3">-->
<!--            <label for="password">비밀번호:</label>-->
<!--            <input type="password" class="form-control" id="password" name="password">-->
<!--          </div>-->
<!--          <div class="form-group mb-3">-->
<!--            <label for="introduction">자기소개:</label>-->
<!--            <input type="text" class="form-control" id="introduction" name="introduction">-->
<!--          </div>-->
<!--            <div class="form-group mb-3">-->
<!--                <label for="image">이미지 URL:</label>-->
<!--                <input type="text" class="form-control" id="image" name="image">-->
<!--            </div>-->
<!--          <button onclick="updateUser()" class="btn btn-primary">수정완료</button>-->
<!--          <a href="/challenges" class="btn btn-outline-primary">메인으로</a>-->
      </div>
</body>
</html>