<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <link href="/css/style.css" rel="stylesheet">
    <script>
    window.onload = function() {
        getUserData();

        var loginBox = document.getElementById("is-login-box");
        var notLoginBox = document.getElementById("not-login-box");

        // "Authorization" 쿠키가 존재하는 경우 로그아웃 버튼을 표시
        if (checkAuthorizationCookie()) {
            loginBox.style.display = "block";
            notLoginBox.style.display = "none";
        }
    }

    function checkAuthorizationCookie() {
        var cookies = document.cookie.split(";");

        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();

            // "Authorization" 쿠키가 존재하는 경우 true 반환
            if (cookie.startsWith("Authorization")) {
                return true;
            }
        }

        // "Authorization" 쿠키가 존재하지 않는 경우 false 반환
        return false;
    }
    function getUserData(){
            fetch('/users/update', {
                method: 'GET', // GET, POST, PUT 등 HTTP 메서드 선택
                headers: {
                    'Content-Type': 'application/json', // 서버에서 요구하는 Content-Type으로 설정
                    // 필요한 경우 다른 헤더를 추가로 설정할 수 있습니다.
                },
                // 필요한 경우 요청에 본문 데이터를 추가할 수 있습니다.
                // body: JSON.stringify({ key: 'value' }),
            })
                .then(response => {
                    if (response.status === 404) {
                        alert('요청이 실패했습니다. 페이지를 찾을 수 없습니다.');
                    }
                    return response.json(); // JSON 형태의 응답 데이터 파싱
                })
                .then(data => {
                    console.log(data);
                    $('.container').empty()
                    let username = data.username;
                    let password = "*****";
                    let introduction = data.introduction;
                    let image = data.image;

                    // 게시글 템플릿 생성
                    let temp_html = `<h2 class="board mb-3">정보 수정</h2>
          <div class="form-group mb-3">
            <label for="username" class="d-block">아이디</label>
              <span id="username" class="fw-bold fs-3" >${username}</span>
          </div>
          <div class="form-group mb-2">
            <label for="checkpassword"></label>
            <input type="password" class="form-control content_field" id="checkpassword" name="checkpassword" placeholder="현재 비밀번호를 입력해주세요">
          </div>
          <div class="form-group mb-2">
            <label for="updatepassword"></label>
            <input type="password" class="form-control content_field" id="updatepassword" name="updatepassword" placeholder="수정할 비밀번호를 입력해주세요">
          </div>
          <div class="form-group mb-2">
            <label for="introduction"></label>
            <input type="text" class="form-control content_field" id="introduction" name="introduction" value="${introduction}" placeholder="한 줄 소개를 입력해주세요">
          </div>
            <div class="form-group mb-5">
                <label for="image"></label>
                <input type="text" class="form-control content_field" id="image" name="image" value="${image}" placeholder="이미지 URL을 입력해주세요">
            </div>
          <button onclick="updateUser(); window.location.href='/challenges'" class="btn btn-warning">수정완료</button>
          <a href="/challenges" class="btn btn-outline-warning">메인으로</a>`
                    $('.container').append(temp_html)
                })
                .catch(error => {
                    // 오류 처리 로직을 작성합니다.
                    console.error(error);
                });
    }
    function updateUser() {

        let username = document.getElementById('username').value;
        let checkpassword = document.getElementById('checkpassword').value;
        let updatepassword = document.getElementById('updatepassword').value;
        let introduction = document.getElementById('introduction').value;
        let image = document.getElementById('image').value;

        let updatedData = {
            username: username,
            checkpassword : checkpassword,
            updatepassword: updatepassword,
            introduction: introduction,
            image: image
        };
        let url = '/users/update';

        fetch(url, {
            method: 'Post',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(updatedData)
        })
            .then(function(response) {
                if (response.ok) {
                    console.log('유저 정보가 성공적으로 수정되었습니다.');
                } else {
                    console.log('유저 정보가 수정에 실패했습니다.');
                }
            })
            .catch(function(error) {
                console.log('유저 정보가 수정 중 오류가 발생했습니다.', error);
            });
    }
</script>
    <title>마이 페이지 화면</title>
</head>
<body>
    <header class="d-flex justify-content-between align-items-middle bg-light bg-gradient">
        <div class="h1 fs-2 px-4 pt-2"><a href="/challenges">이용해조</a></div>
        <div class="is-login-box p-2" id="is-login-box" style="display: none;">
            <a href="/new-challenge" class="ms-4 fs-4"><i class="fa-solid fa-pen-to-square fa"></i></a>
            <a href="/users"><i class="fa-solid fa-user-pen fa-lg ms-4"></i></a>
            <div type="button" onclick="logout()" class="d-inline"><i class="fa-solid fa-person-walking-arrow-right fa-xl ms-4"></i></div>
        </div>
        <div class="not-login-box m-3" id="not-login-box">
            <a href="/users/login"><i class="fa-solid fa-user-check fa-lg ms-4"></i></a>
            <a href="/users/new-user"><i class="fa-solid fa-user-plus fa-lg ms-4"></i></a>
        </div>
    </header>
    <div class="container">
<!--            <h2 class="board">정보 수정</h2>-->
<!--          <div class="form-group mb-3">-->
<!--            <label for="username" class="d-block">사용자명:</label>-->
<!--              <span id="username" class="fw-bold" >유저1</span>-->
<!--          </div>-->
<!--          <div class="form-group mb-3">-->
<!--            <label for="password">비밀번호:</label>-->
<!--            <input type="password" class="form-control" id="password" name="password">-->
<!--          </div>-->
<!--          <div class="form-group mb-3">-->
<!--            <label for="introduction">자기소개:</label>-->
<!--            <input type="text" class="form-control" id="introduction" name="introduction">-->
<!--          </div>-->
<!--            <div class="form-group mb-3">-->
<!--                <label for="image">이미지 URL:</label>-->
<!--                <input type="text" class="form-control" id="image" name="image">-->
<!--            </div>-->
<!--          <button onclick="updateUser()" class="btn btn-primary">수정완료</button>-->
<!--          <a href="/challenges" class="btn btn-outline-primary">메인으로</a>-->
      </div>
</body>
</html>